.icon-label-yellow {
  background-color: yellow;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border-radius: 28px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
}

.icon-label-green {
  background-color: #53ff4c;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border-radius: 28px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
}

.icon-label-red {
  background-color: #ff3636;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  border-radius: 28px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
}

.gm-svpc {
  display: none;
}

.map__item {

  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 10px 0px;
}

.item__title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.item__loc {
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

.item__dust {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img__dust,
.img__weather {
  width: 25px;
  height: 25px;
}

.item__pm10,
.item__temperature {
  margin: 5px;
}

.item__weather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img__weather {
  margin-right: 5px;
}
